
@import url('https://fonts.googleapis.com/css2?family=Cabin:ital,wght@0,400..700;1,400..700&family=Pacifico&display=swap');

:root {
    --primary-color: #5a5757;
    --secondary-color: #4ECDC4;
    --accent1-color: #f7fff7;
    --accent2-color: mistyrose;

    --heading-font: "Pacifico";
    --paragraph-font: "Cabin","Arial";

    --nav-background-color: #aaaaaa;
    --nav-link-color: #ffffff;
    --nav-hover-link-color: #555555;
    --nav-hover-background-color: #2525c6;
}
header {
    display: grid;
    grid-template-columns: 1fr 3fr ;
    padding: 20px;
    background-color: #f7fff7;
    border: 2px solid var(--secondary-color)
}
header img  {
    border: 2px solid var(--nav-background-color) ;
    width: 200px;
}

p  {
    font-family:var(--paragraph-font);
    padding: 25px;
}

body {
    font-family: "Cabin";
    width: 960px;
    padding: 20px;
    background-color: aliceblue;
}


h1, h2, h3, h4, h5, h6 {
    font-family: 'Pacifico';
    color: var(--primary-color);
    text-align: center;

}
header nav {
    margin-top: 25px;
    margin-bottom: 25px;
    margin-left: 40px;
    margin-right: 40px;
    background-color: var(--accent2-color);
    display: flex;
    font-size: 1.2rem;
    align-items: center;
    justify-content: space-around;
    flex-grow: 1;
    border: 2px solid var(--nav-background-color) ;

}

nav a {
    display: flex;
    justify-content: center;
    align-items: stretch;
    color: #aaaaaa;
    padding: 1rem;

}

nav a:link, nav a:visited {
    color: #181508;
}

nav a:hover {
    color: mistyrose;
    background-color: #aaaaaa;
    padding-left: 1rem;
}
.box {position: relative;
    margin: 1rem;
    border: 2px solid rgba(0,0,0,.1);
    padding: 1rem;
    background-color: var(--secondary-color);
    color: var(--primary-color);}
.hero {
    position: relative;
    border: 2px solid #555555;
}
.inset  {
    position: absolute;
    color: var(--accent1-color);
    top: 5px;
    width: 100%;
    text-align: center;
}
.happy  {
    float: right;
    height: 80px;
    border: 3px solid #aaaaaa;
}
.heroimg {
    width: 100%;
    display: block; 
    height: auto;
 
}
.article {
    
    display: grid;
    align-items: center;
    background-color: #f7fff7;
    border: 4px solid var(--nav-background-color) ;
   margin-right: 30px;
   margin-left: 30px;
    position:absolute;
    top:80px;}

.tree   {
    height: 250px;
    border: 2px solid var(--nav-background-color);
}
/*contact page*/
.questions   {
    display: grid;
    grid-gap: 2px;
    height: 100%;
}
.fillout   {
    display: grid;
    grid-gap: 11px;
    height: 100%;}
    
form    {
    display: flex;
    width: fit-content;
    justify-items: ;
    align-items: center;
    height: auto;
    ;
}    
button  {
    width: 8rem;
    height: 3rem;
}
.info    {
    border: 3px solid var(--nav-hover-link-color);
    width: auto;
   
}
.map    {
   border: 5px solid var(--primary-color);
   width: 600px;


footer{
    display:grid;
    grid-template-columns: 2fr 1fr;
}

.sociallinks{
    display: flex;
}
section {
    display: flex;
}
section img {
display: flex;
flex-grow: -1;

}
.flex-container { 
    border: 2px solid var(--nav-background-color) ;
   background-color: var(--accent1-color);
   display: flex;
   gap: .5rem;
   border: 2px solid grey;
}
figure {
    
    padding: 2px;
    margin: auto;
  }
  figure img{
    max-width: 100%;
  }
  figcaption {
    background-color: var(--primary-color);
    color: #fff;
    font: italic smaller sans-serif;
    padding: 3px;
    text-align: center;
    text-wrap: nowrap;}


