
@import url('https://fonts.googleapis.com/css2?family=Cabin:ital,wght@0,400..700;1,400..700&family=Pacifico&display=swap');

header {
    padding: 20px;
    background-color: #f7fff7;
    border: 2px solid var(--secondary-color)
}
p  {
    padding: 25px
}

body {
    font-family: "Cabin";
    max-width: 960px;
    padding: 20px;
}

:root {
    --primary-color: #5a5757;
    --secondary-color: #4ECDC4;
    --accent1-color: #f7fff7;
    --accent2-color: mistyrose;

    --heading-font: "Pacifico";
    --paragraph-font: "Cabin", serif;

    --nav-background-color: #aaaaaa;
    --nav-link-color: #ffffff;
    --nav-hover-link-color: #555555;
    --nav-hover-background-color: #2525c6;
}
h1, h2, h3, h4, h5, h6 {
    font-family: 'Pacifico';
    color: var(--primary-color);

}
nav {
    background-color: var(--accent2-color);
    font-size: 1.2rem;
    display: inline-flex;
}

nav a {
    display: block;
    color: #aaaaaa;
    padding: 1rem;

}

nav a:link, nav a:visited {
    color: #181508;
}

nav a:hover {
    color: mistyrose;
    background-color: #aaaaaa;
    padding-left: 1rem;
}
.box {position: relative;
    margin: 1rem;
    border: 2px solid rgba(0,0,0,.1);
    padding: 1rem;
    background-color: var(--secondary-color);
    color: var(--primary-color);}
.hero {
    position: relative;
    border: 2px solid #555555;
    float: right
}
.happy {
    position: absolute;
    float: right;
    max-height: 50
px;
    max-width: auto;
}