
h1  {
    text-align: center;
    color: brown;
}

legend   {
    font-size:x-large;
    color:darkolivegreen;
}
input[type=text] {
    border: 2px solid brown;
    border-radius: 4px;}

select  {
        background-color: antiquewhite;
        border: 2px solid brown;
    }
fieldset    {
    border: 2px solid olive;
}
input[type=number]  {
    background-color: antiquewhite;
    border: 2px solid brown;
    width: 35px;
}

input, textarea {
    padding: 10px;
    margin: 8px;
    font-size: larger;
    background-color: antiquewhite; 
    border: 2px solid brown;  
}
img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    border: 5px solid black;
}
   form { 
    flex-direction: column;
    justify-self: center;
    justify-content: center;
}