main{
    font-size:66px;
}

main blockquote {
    font-size:5px;
}

.para1{
    
}

.callout {
	width: 400px;
    margin: 10px;
    border: (0,0,0,.1);
    padding: 15px;
    background-color: #247;
    color: #e05050;
}

 img {
    float: left;
	margin: 15px;
    border: 5cap;
    padding: 20%;
    background-color: rgb(193, 19, 39);

    height: 100px;
}

.callout blockquote{
    font-size: 12px;
}

blockquote {
    margin: auto;
}

cite {
    display: block;
    border-top: 0cap;
    padding-top: 0%;
    text-align: center;
    font-size: medium;

}
